<h1>Welcome to Margot's "Join a Team" site!</h1>
<% if session[:user_id] %>
  <h1><%= @user.name %></h1>
<% else %>
    <div >
      <%= link_to 'Login', login_path %>
      <%= link_to 'Sign Up', '/users/new' %>
      <%= link_to('Log in with Facebook!', '/auth/facebook') %>
    </div>
<% end %>
